<div class="container">
  <div class="jumbotron text center">
    <h1>iStack</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="row">
      <h2>Seach input</h2>
      <form action="/">
        <input type="text">
      </form>
    </div>
  </div>
</div>

<div class="footer">
  
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>