<br><br><br><br><br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <h2 id="title" class="col text-center"><i class="fas fa-play"></i> i<strong>Playlist</strong> <i
                class="fas fa-music"></i></h2>
        <div class="col"></div>
    </div>

    <br><br>

    <div class="row">
        <div id="userButtons" class="col">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-outline-warning btn-lg" data-toggle="modal" data-target="#myModal1">New
                User <i class="fas fa-sign-in-alt"></i></button>
        </div>
        <div id="userButtons" class="col">

            <button type="button" class="btn btn-outline-warning btn-lg" data-toggle="modal" data-target="#myModal2">Existing
                User <i class="fas fa-user-plus"></i></button>
        </div>
    </div>

</div>
</div>


<!-- Modal (new User) -->
<div class="modal" id="myModal1" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Create an account</h2>
            </div>
            <div class="modal-body">
                <form class="signup">
                    <div class="form-group">
                        <label for="userNameInput">User Name</label>
                        <input type="text" class="form-control" id="userNameInput" placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <label for="emailInput">Email address</label>
                        <input type="email" class="form-control" id="emailInput" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="pWordInput">Password</label>
                        <input type="password" class="form-control" id="pWordInput" placeholder="Password">
                    </div>
                    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="msg"></span>
                    </div>
                    <button type="submit" id="signUpBtn" class="btn btn-default">Sign Up</button>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- Existing user sign in -->
<div class="modal" id="myModal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">User Login</h2>
            </div>
            <div class="modal-body">
                <form>
                    <div class="container">
                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" id="username" required>
                        <br>
                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" id="password" required>
                        <br>

                        <button type="submit" id="loginBtn">Login</button>
                        <div style="display: none" id="alert2" class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="msg"></span>
                        </div>
                        <label>
                            <input type="checkbox" checked="checked" name="remember" id="remember"> Remember Me
                        </label>
                    </div>
                    <div class="container">
                        <a href="./"><button type="button" class="cancelbtn btn btn-default">Cancel</button></a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


</div>
