.fa-music{
color: gold;
}
#dropdown {
  padding-top: 1%;
}
#mainCard:hover {
  box-shadow: 5px 5px 5px white;
}

#center { 
text-align: center;
}

#center h3 {
  margin-top: auto;
margin-right: auto;
margin-bottom: auto;
margin-left: auto;
}


body {
  background-color: black !important;
}

h2 {
  color: teal;
}

.jumbo-formatter {

  height: auto !important;
  padding: 30px 15px 30px 15px;

}

#submitbtn {

  margin-top: 8px;

}

#thumb {
  border: solid 1px black;
  margin: 5%;
  /* display: block; */
}

.songs {
  border: black solid 1px;
}

#newSongs {
  border: black solid 1px;
}

.rating {
  display: inline-block;
  width: 100%;
  /* margin-top: 40px;
  padding-top: 40px; */
  text-align: center;
  margin-top: 37%;
}

.like,
.dislike {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
  color: white;
}

.dislike:hover,
.like:hover {
  color: #2EBDD1;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.active {
  color: teal;
}

.song {
  margin-top: 0;
  font-size: 14px;

  padding: 4px!important;
}

.card-title {
  margin-top: 2px;
  margin-left: 2px;
  font-size: 18px;

}


#hover {
  background-color: white;
  height: 100%;

}

.center-align {
  margin: auto;

}
img{
  width: 100%;

}
#link{
  background-color: black;
}


#homeCards {

  color: #e7f4ff;
  text-shadow: 0 0 10px #01b7ff;
  
}


#center { 
  text-align: center;

  
}

#center h3 {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.card-img-top {
  height: 175px;
  width: 203px;
}

.card {
  margin: 10px;
  /* width: 220px; */
  
  float: left;

}


img[alt*="playButton"] {

  height: 60px;
  width: 60px;

}

.save-img {
  height: 30px;
  width: 28px;
  float: left;
}

.save-img:hover {
  cursor: pointer;

}

.add-img {
  height: 30px;
  width: 28px;
  float: right;
}

.add-img:hover {
  cursor: pointer;

}

.del-img {

  height: 30px;
  width: 28px;
  float: left;

}

.del-img:hover {
  cursor: pointer;

}

.playBtn:hover {
  cursor: pointer;
}

.centerPersonalSongs {

  margin-top: 10px;
  text-align: center;
  color: #ffc107;

  border-radius: 5px;
  border: 1px solid #ffc107;
  padding: 4px;
  margin-right: 4px;
  margin-left: 4px;
  

}

button#personSearch {
  width: 25%;
}